In [1]:
import pandas as pd
import numpy as np 
#import plotly.graph_objects as go
#from plotly.subplots import make_subplots
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype
import itertools as it

# Notes

- Add Stream_id

In [2]:
a = pd.DataFrame(np.array([['Cold', 105.6, 271.47, 48.0, 88.1], 
                                      ['hot', 77.75, 149.52, 80.7, 30.0],
                                      ['hot', 15.16, 47.41, 140.2, 25.0],
                                      ['hot', 14.63, 41.72, 59.8, 25.0],
                                      ['hot', 5.25, 34.79, 80.0, 25.0]]), 
                            columns = ['stream_type', 'mass_flow_rate', 
                                       'flowing_heat_capacity', 'initial_temp', 'final_temp'])

a

  stream_type mass_flow_rate flowing_heat_capacity initial_temp final_temp
0        Cold          105.6                271.47         48.0       88.1
1         hot          77.75                149.52         80.7       30.0
2         hot          15.16                 47.41        140.2       25.0
3         hot          14.63                 41.72         59.8       25.0
4         hot           5.25                 34.79         80.0       25.0

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   stream_type            5 non-null      object
 1   mass_flow_rate         5 non-null      object
 2   flowing_heat_capacity  5 non-null      object
 3   initial_temp           5 non-null      object
 4   final_temp             5 non-null      object
dtypes: object(5)
memory usage: 328.0+ bytes

In [4]:
a[['mass_flow_rate','flowing_heat_capacity', 'initial_temp', 'final_temp']] = a[['mass_flow_rate','flowing_heat_capacity', 'initial_temp', 'final_temp']].apply(pd.to_numeric, errors = 'coerce')

In [5]:
a

  stream_type  mass_flow_rate  flowing_heat_capacity  initial_temp  final_temp
0        Cold          105.60                 271.47          48.0        88.1
1         hot           77.75                 149.52          80.7        30.0
2         hot           15.16                  47.41         140.2        25.0
3         hot           14.63                  41.72          59.8        25.0
4         hot            5.25                  34.79          80.0        25.0

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   stream_type            5 non-null      object
 1   mass_flow_rate         5 non-null      float64
 2   flowing_heat_capacity  5 non-null      float64
 3   initial_temp           5 non-null      float64
 4   final_temp             5 non-null      float64
dtypes: float64(4), object(1)
memory usage: 328.0+ bytes

In [7]:
a

  stream_type  mass_flow_rate  flowing_heat_capacity  initial_temp  final_temp
0        Cold          105.60                 271.47          48.0        88.1
1         hot           77.75                 149.52          80.7        30.0
2         hot           15.16                  47.41         140.2        25.0
3         hot           14.63                  41.72          59.8        25.0
4         hot            5.25                  34.79          80.0        25.0

In [44]:
a['stream_type'] = a['stream_type'].str.lower()

a

  stream_type  mass_flow_rate  flowing_heat_capacity  initial_temp  final_temp
0        cold          105.60                 271.47          48.0        88.1
1         hot           77.75                 149.52          80.7        30.0
2         hot           15.16                  47.41         140.2        25.0
3         hot           14.63                  41.72          59.8        25.0
4         hot            5.25                  34.79          80.0        25.0

In [81]:
a.loc[a['stream_type'] == 'cold']

  stream_type  mass_flow_rate  flowing_heat_capacity  initial_temp  final_temp
0        cold           105.6                 271.47          48.0        88.1

In [133]:
a[['stream_type',
   'initial_temp', 'final_temp']].set_index('stream_type').stack().droplevel(1).to_frame('new_col').reset_index()

  stream_type  new_col
0        cold     48.0
1        cold     88.1
2         hot     80.7
3         hot     30.0
4         hot    140.2
5         hot     25.0
6         hot     59.8
7         hot     25.0
8         hot     80.0
9         hot     25.0

In [ ]:
b = pd.DataFrame(np.arange(10))

if a['stream_type'].str.lower() is not 'cold':
    b['new_col'] = a['initial_temp'] + 2
    b['new_col'] = a['final_temp'] + 2
else:
    b['new_col'] = a['initial_temp'] -  2

In [ ]:
b

In [ ]:
a['stream_type'].str.lower()

In [ ]:
## Need to test that the items in this numpy array is strings 

type(a['stream_type'].values.item(1))

In [ ]:
def problem_table_algorithm(df, type_col, delta_t_min):
    
    supply_and_target = 2
    
    rows = len(a['stream_type'].values) * supply_and_target
    
    problem_table = pd.DataFrame(index = np.arange(rows))
    
    if df[type_col].str.lower() is 'hot':
        problem_table['supply_temp']  = df['initial_temp'] - delta_t_min
        problem_table['supply_temp']  = df['final_temp'] - delta_t_min
    elif df[type_col].str.lower() is 'cold':
        problem_table['supply_temp']  = df['initial_temp'] + delta_t_min
        problem_table['supply_temp']  = df['final_temp'] + delta_t_min
    else:
        print("The column that indicates the stream type\nneeds to have only hot and cold.")
    
    return problem_table

In [ ]:
problem_table_algorithm(a, 'stream_type', 6)