In [1]:
import pandas as pd
import numpy as np 
#import plotly.graph_objects as go
#from plotly.subplots import make_subplots
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype

# Notes

- Add Stream_id

In [44]:
a = pd.DataFrame(np.array([['Cold', 105.6, 271.47, 48.0, 88.1], 
                                      ['hot', 77.75, 149.52, 80.7, 30.0],
                                      ['hot', 15.16, 47.41, 140.2, 25.0],
                                      ['hot', 14.63, 41.72, 59.8, 25.0],
                                      ['hot', 5.25, 34.79, 80.0, 25.0]]), 
                            columns = ['stream_type', 'mass_flow_rate', 
                                       'flowing_heat_capacity', 'initial_temp', 'final_temp'])

a

  stream_type mass_flow_rate flowing_heat_capacity initial_temp final_temp
0        Cold          105.6                271.47         48.0       88.1
1         hot          77.75                149.52         80.7       30.0
2         hot          15.16                 47.41        140.2       25.0
3         hot          14.63                 41.72         59.8       25.0
4         hot           5.25                 34.79         80.0       25.0

In [45]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   stream_type            5 non-null      object
 1   mass_flow_rate         5 non-null      object
 2   flowing_heat_capacity  5 non-null      object
 3   initial_temp           5 non-null      object
 4   final_temp             5 non-null      object
dtypes: object(5)
memory usage: 328.0+ bytes

In [46]:
a[['mass_flow_rate','flowing_heat_capacity', 'initial_temp', 'final_temp']] = a[['mass_flow_rate','flowing_heat_capacity', 'initial_temp', 'final_temp']].apply(pd.to_numeric, errors = 'coerce')

In [47]:
a

  stream_type  mass_flow_rate  flowing_heat_capacity  initial_temp  final_temp
0        Cold          105.60                 271.47          48.0        88.1
1         hot           77.75                 149.52          80.7        30.0
2         hot           15.16                  47.41         140.2        25.0
3         hot           14.63                  41.72          59.8        25.0
4         hot            5.25                  34.79          80.0        25.0

In [48]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   stream_type            5 non-null      object
 1   mass_flow_rate         5 non-null      float64
 2   flowing_heat_capacity  5 non-null      float64
 3   initial_temp           5 non-null      float64
 4   final_temp             5 non-null      float64
dtypes: float64(4), object(1)
memory usage: 328.0+ bytes

In [49]:
a

  stream_type  mass_flow_rate  flowing_heat_capacity  initial_temp  final_temp
0        Cold          105.60                 271.47          48.0        88.1
1         hot           77.75                 149.52          80.7        30.0
2         hot           15.16                  47.41         140.2        25.0
3         hot           14.63                  41.72          59.8        25.0
4         hot            5.25                  34.79          80.0        25.0

In [74]:
b = pd.DataFrame(np.arange(10))

if a['stream_type'].str.lower() is 'cold':
    b['new_col'] = a['mass_flow_rate'] / 2
    b['new_col'] = a['flowing_heat_capacity'] + 2
else:
    b['new_col'] = a['mass_flow_rate'] / 3

In [75]:
b

   0    new_col
0  0  35.200000
1  1  25.916667
2  2   5.053333
3  3   4.876667
4  4   1.750000
5  5        NaN
6  6        NaN
7  7        NaN
8  8        NaN
9  9        NaN

In [54]:
a['stream_type'].str.lower()

0    cold
1     hot
2     hot
3     hot
4     hot
Name: stream_type, dtype: object

In [52]:
## Need to test that the items in this numpy array is strings 

type(a['stream_type'].values.item(1))

str

10

In [70]:
def problem_table_algorithm(df, type_col, delta_t_min):
    
    supply_and_target = 2
    
    rows = len(a['stream_type'].values) * supply_and_target
    
    problem_table = pd.DataFrame(index = np.arange(rows))
    
    if df[type_col].str.lower() is 'hot':
        problem_table['supply_temp']  = df['initial_temp'] - delta_t_min
        problem_table['supply_temp']  = df['final_temp'] - delta_t_min
    elif df[type_col].str.lower() is 'cold':
        problem_table['supply_temp']  = df['initial_temp'] + delta_t_min
        problem_table['supply_temp']  = df['final_temp'] + delta_t_min
    else:
        print("The column that indicates the stream type\nneeds to have only hot and cold.")
    
    return problem_table

In [71]:
problem_table_algorithm(a, 'stream_type', 6)

The column that indicates the stream type
needs to have only hot and cold.

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]